*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(87, 119, 147);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    background-color:black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 32px;
    margin-bottom: 24px;
}
.color{
    color:aqua;
}
.btn{
    background: transparent;
    padding: 8px;
    border:2px solid black ;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
} 
.btn:hover{
    background-color:black ;
    color: white;
    transition: all 0.5s;

}